.Video {
    border: 1px solid black;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 1);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;

    transition: height .5s, top .5s;
}