.LoginForm {
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    max-width: 800px;
    margin: auto;

}

.LoginForm input {
    display: block;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding: 0px;
    margin: 0px;
}

.LoginForm input[type=password] {
    border: 3px solid #bbb;
}

.LoginForm input[type=submit] {
    margin-top: 20px;
    color: #333;
    background: #fdfdfd;
    background: linear-gradient(to bottom, #fdfdfd 0%, #bebebe 100%);
    border: 3px solid #bbb;
    border-radius: 10px;
}
